/** {
  margin: 0;
}*/

.banner-header {
  background-image:url('../img/pattern.png');
  background-color: #4EA0FF;
  width: 100%;
  text-align: bottom;
}

#logo {
  width: 200px;
  height: 160px;
}

header p {
  color: #7D7D7D;
  font-size: 16px;
}

header span {
  color: #37B2E8;
}

#data {
  font-size: 12px;
}

.testo-header {
line-height: 0;}

section {
  margin-top: 50px;
}

.photo span {
  font-size: 12px;
}

.article span {
  background:#FFFF00;
}

.article ul {
  padding-left: 10px;
}

thead {
  color: white;
  background-color: #20A9E5;
}

#column {
  width: 50%;
}

.odd-row {
background-color:#B1E5F2;
}